@import 'base';

main {
  section {
    margin-top: 2rem;
    h1.site-date-catalog {
      font-size: 2rem;
      font-weight: 900;
    }

    .post-line {
      display: flex;
      flex-flow: row nowrap;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      margin-left: 2rem;
      line-height: 1.5;
      @include max-w(900) {
        margin-left: unset;
      }

      p {
        margin-bottom: unset;
      }
      .post-date {
        flex-basis: 15%;
        flex-shrink: 0;
        word-spacing: 4px;
        white-space: nowrap;
        @include max-w(900) {
          margin-right: 1rem;
          flex-basis: auto;
        }
      }
      .post-title {
        flex: 1 1 auto;
        a {
          color: var(--text-second-color);
        }
      }
    }
  }
}
